{{#if showFroala}}
  {{froala-editor options=exampleOptions toolbarInline=true toolbarVisibleWithoutSelection=true}}
{{/if}}

<button {{action (mut showFroala) false}}>DELETE ONE</button>


{{froala-editor options=exampleOptions toolbarInline=true toolbarVisibleWithoutSelection=true}}
